:root {
  --font-header-color-day: #094067;
  --font-color-day: #5f6c7b;
  --background-color-day: #fffffe;
  --day-primary: #3da9fc;
  --font-header-color-night: #fffffe;
  --font-color-night: #94a1b2;
  --background-color-night: #16161a;
  --night-primary: #7f5af0;
  --font-text: "Nunito", sans-serif;
  --font-header: "Fredoka", sans-serif;
  --btn-text: #fffffe;
}

body {
  height: 100vh;
  padding: 2rem;
  font-family: var(--font-text);
}

button {
  color: inherit;
}

.background-day {
  background-color: var(--background-color-day);
  color: var(--font-color-day);
}

.background-night {
  background-color: var(--background-color-night);
  color: var(--font-color-night);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  position: relative;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.header-elements-day {
  border: 0.2rem solid var(--day-primary);
}

.header-elements-night {
  border: 0.2rem solid var(--night-primary);
}

.logo-container {
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: end;
  line-height: 1;
}

.logo-image {
  width: 5rem;
  height: auto;
  fill: var(--font-header-color-day);
}

.logo-second-line {
  color: #3da9fc;
}

.location-input-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.location-input {
  padding: 0.5rem;
  border-radius: 1rem;
  width: clamp(15rem, 40vw, 40rem);
  background-color: var(--background-color-day);
  outline: none;
  color: inherit;
}

.location-submit {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  transition: transform 0.1s ease-in-out;
}

.location-submit:hover {
  transform: scale(1.1);
}

.unit-btns {
  display: flex;
  width: max-content;
}

.unit-btn {
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.celsius-btn {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.fahrenheit-btn {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.unit-btn-day {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.unit-btn-night {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.unit-btn-day:hover {
  background-color: var(--day-primary);
  color: var(--btn-text);
}

.unit-btn-night:hover {
  background-color: var(--night-primary);
  color: var(--btn-text);
}

.unit-btn-active-day {
  background-color: var(--day-primary);
  color: var(--btn-text);
}

.unit-btn-active-night {
  background-color: var(--night-primary);
  color: var(--btn-text);
}

.current-weather-container,
.hourly-weather-container,
.todays-weather-container,
.daily-weather-container {
  border: 0.2rem solid black;
  width: max-content;
  height: max-content;
}

.current-header,
.hourly-header,
.todays-header,
.daily-weather-header {
  font-size: 1.5rem;
  font-family: var(--font-header);
  font-weight: 400;
}

.hourly-weather-container {
  width: 60rem;
  overflow-x: auto;
}

.hourly-items-container {
  display: flex;
}

.loading-interface {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
}
