:root {
  --font-header-color-day: #094067;
  --font-color-day: #5f6c7b;
  --background-color-day: #fffffe;
  --day-primary: #ef4565;
  --font-header-color-night: #fffffe;
  --font-color-night: #94a1b2;
  --background-color-night: #16161a;
  --night-primary: #7f5af0;
  --font-text: "Josefin Sans", sans-serif;
  --font-header: "Fredoka", sans-serif;
  --btn-text: #fffffe;
  --signature: #3da9fc;
}

body {
  height: 100vh;
  padding: 2rem;
  font-family: var(--font-text);
  font-size: 1.2rem;
}

button {
  color: inherit;
}

.background-day {
  background-color: var(--background-color-day);
  color: var(--font-color-day);
}

.background-night {
  background-color: var(--background-color-night);
  color: var(--font-color-night);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  position: relative;
  padding: 1rem 5rem;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo-container {
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: end;
  line-height: 1;
}

.logo-image {
  width: 5rem;
  height: auto;
}

.weather-icon-day {
  fill: var(--font-header-color-day);
}

.weather-icon-night {
  fill: var(--font-header-color-night);
}

.logo-first-line-day {
  color: var(--font-header-color-day);
}

.logo-first-line-night {
  color: var(--font-header-color-night);
}

.logo-second-line {
  color: var(--signature);
}

.location-form {
  display: flex;
  flex-direction: column;
}

.location-input-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 2.5rem;
}

.location-input {
  padding: 0.5rem;
  border-radius: 1rem;
  width: clamp(15rem, 40vw, 40rem);
  background-color: var(--background-color-day);
  outline: none;
  color: inherit;
}

.location-input-day {
  border: 0.15rem solid var(--font-header-color-day);
  transition: 0.1s border ease-in-out;
}

.location-input-night {
  border: 0.15rem solid var(--font-header-color-night);
  transition: 0.1s border ease-in-out;
}

.location-input-day:focus {
  border: 0.15rem solid var(--day-primary);
}

.location-input-night:focus {
  border: 0.15rem solid var(--night-primary);
}

.location-submit {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  transition: transform 0.1s ease-in-out;
}

.location-submit:hover {
  transform: scale(1.1);
}

.location-submit-day {
  color: var(--font-header-color-day);
}

.location-submit-night {
  color: var(--font-header-color-night);
}

.unit-btns {
  display: flex;
  width: max-content;
}

.unit-btn {
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.celsius-btn {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.fahrenheit-btn {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.unit-btn-day {
  border: 0.2rem solid var(--day-primary);

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.unit-btn-night {
  border: 0.2rem solid var(--night-primary);

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.unit-btn-day:hover {
  background-color: var(--day-primary);
  color: var(--btn-text);
}

.unit-btn-night:hover {
  background-color: var(--night-primary);
  color: var(--btn-text);
}

.unit-btn-active-day {
  background-color: var(--day-primary);
  color: var(--btn-text);
}

.unit-btn-active-night {
  background-color: var(--night-primary);
  color: var(--btn-text);
}

.error-message {
  height: 2.5rem;
  align-self: center;
  margin-top: 2rem;
  min-width: 25rem;
}

.error-message-day {
  color: var(--font-header-color-day);
}

.error-message-night {
  color: var(--font-header-color-night);
}

.current-weather-container {
  display: flex;
}

.current-header,
.hourly-header,
.todays-header,
.daily-weather-header {
  font-size: 2rem;
  font-family: var(--font-header);
  font-weight: 400;
}

.current-weather-text,
.hourly-weather-container,
.todays-weather-container,
.daily-weather-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.current-weather-details,
.hourly-items-container,
.todays-weather-details,
.daily-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.current-weather-container {
  height: max-content;
}

.weather-header-day {
  color: var(--font-header-color-day);
}

.weather-header-night {
  color: var(--font-header-color-night);
}

.weather-attribute {
  display: flex;
  align-items: center;
}

.current-condition-row {
  display: flex;
}

.current-location,
.current-condition-row,
.current-feelslike {
  font-size: 1.4rem;
}

.current-weather-icon {
  width: 10rem;
  height: auto;
}

.current-weather-details {
  flex-direction: column;
}

.hourly-weather-container {
  width: 60rem;
  overflow-x: auto;
}

.hourly-items-container {
  flex-wrap: nowrap;
  gap: 0rem;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 9rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.hour-condition {
  height: 3rem;
}

.hourly-icon {
  width: 3rem;
  height: auto;
}

.todays-weather-details {
  column-gap: 5rem;
  justify-content: center;
  padding: 1rem 0;
}

.today-icon {
  width: 4rem;
  height: auto;
}

.today-attribute {
  width: 15rem;
  justify-content: center;
}

.loading-interface {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-day);
  display: none;
}

.loading-interface-day {
  background-color: var(--background-color-day);
}

.loading-interface-night {
  background-color: var(--background-color-night);
}
